
.dName {
    min-height:20px;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    color:#5d40c5
}
.dBtn
{
    display: flex;
     height:45px;
     min-width: 60px;
     max-width: 160px;
     border: 1px solid #9e7248;
     border-radius: 6px;
     padding: 8px;
     text-align: center;
     font-size: 12px;
     cursor: pointer;
     justify-content: center;
     align-items: center;
     
     


}
.active{

background: orange;
font-weight: bold;
border: none;
text-align: center;



} 