.over{
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    height: 100vh;
    width: 100vw;
    left:0;
    top:0;
    z-index: 2;
    background: rgba(0,0,0,0.4);
    opacity:  0;
    transition: 0.6s;
    pointer-events: none;
    overflow:auto;
    

}

 .modal_active{
    opacity: 1;
    pointer-events: all;

}

.modal_body {
min-height: auto;
max-width: 95%;
background: rgb(242, 240, 247);
padding: 20px;
max-height: auto;


/* overflow-y: auto; */


}
.modalHeader 
{
display: flex;
justify-content: space-between;
background:rgb(255, 255, 255)   
}
.header{
height: auto;
margin-right: 20px;
margin-left: 20px;

}
.x{
color:rgb(10, 9, 9); 
 
border: 1px solid grey;
width: 35px;
height: 28px;
text-align: center;
justify-content: center;
margin: 0;
cursor: pointer;
transition: 0.5s;

}
.x:hover{
    color:black;
    opacity: 0.5;

}