
.App
{
  position:absolute;

  min-width: 100%;
  min-height: 100%;
  background-color: #282c34;
  background-size: cover;

  overflow: visible;

 
}
.HEAD {
    position: relative;

    display:grid;
    grid-template-columns: 1fr minmax(auto,600px) 1fr ;
    margin: 50px auto;

    align-items: center;
    overflow: visible;

}

.HEAD  .main
{


grid-row: 1;
grid-column: 2;
display: flex;
color:whitesmoke;
font-size:  max(1vw, 30px);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1px;
text-shadow: 0.8px 0.8px 0.2px black;
text-align: left;
align-self:center;

}
.example-1{display: block;}

.example-1 input[type=file]
{outline:0;opacity:0;pointer-events:none;user-select:none}
.example-1 .label{padding:5px;width:75px;height: 60px;;border-radius:5px;display:block;transition:border 300ms ease;cursor:pointer;text-align:center}
.example-1 .label i{display:block;font-size:33px;}
.example-1 .label i,.example-1 .label .title{color:white;transition:200ms color}
.example-1 .label:hover{border:1px dashed white}
.example-1 .label:hover i,.example-1 .label:hover .title{color:grey}
.example-1  .title {font-size: 8px;}
.i{height: 10px;}
.icpos{padding-bottom: 10px;}



.container
{
    position: relative;
    display:grid;
    grid-template-columns: 1fr auto minmax(auto,600px) 1fr ;
    margin: 0 auto;
    align-items: center;
    overflow: visible;
 
    grid-column: 2;
    grid-row: 1;

}
.container .lbl {
    grid-column: 2;
    z-index: 2;
    grid-row:1 ;
    font-size: 20px;
    color:orange;
    margin-right: 20px;

}
.container input {
   grid-column: 3;
    grid-row:1 ;
    font-size: 14px;
    min-width: 500px;
    height: 30px;
    padding-left: 10px;

}
.suggs{color: darkturquoise; padding-bottom: 20px; padding-top: 20px;}



.cards{
    
border: none;
position: relative;
    margin-top: 20px;
    grid-column: 3;
    height: auto;
    width: auto;
    background: transparent;
    color:white;
    font-size:8px;
}
.card{
    

border: none;
    display: grid;
    grid-template-columns: 8px auto ;
    align-items: center;
    gap: 5px;
    background: transparent;
    padding-bottom: 10px;
}
.card:hover{
    opacity: 0.5;;

}
.card:hover .orginfo .orgname{
    color:orange;
    font-weight: 700;
}

.card .status{
    grid-column: 1;
    grid-row:1;
    background-color:green;
    width: 8px;
    height: 8px;
    border-radius: 50px;
}
.card  .reqv{
grid-column: 2;
    grid-row:1;
    color:white;
    font-size:14px;
   letter-spacing: 1px;
    text-shadow: 1px 1px 1px grey;
opacity: 0.9;
}

.card  .orginfo{
    grid-column: 2;
    grid-row:2;
}

.card  .orginfo .orgname{
    font-size: 18px;

    color:rgb(158, 193, 207);
    
}


.card  .orginfo .orgform{
    font-size: 10px;
    color:darkturquoise;
    padding-bottom: 8px;
    opacity: 0.6;

}
.card  .orginfo .orgleader{
font-size: 10px;
color:white;
}

.card hr{
    padding: 0.5px;
    margin: 0px;
    background: white;
    opacity: 0.5;
}

.card  .orginfo .orgaddress{
    padding-bottom: 2px;
    font-size: 12px;
    color:white;
 
    opacity:0.9;


}
pre{color:aqua}



